<div class="mx-1.5 mb-8" (click)="navigateToPokemonPage()">
    <img [src]="pokemon.ThumbnailImage" alt="" class="poke-image" />
    <div class="poke-info">
        <div class="pokemon-title">
            <span>{{ pokemon.name | titlecase }}&nbsp;</span>
            <span class="pokemon-number">{{ pokemon.id | stringId }}</span>
        </div>
        <div class="flex gap-1">
            <app-type-badge *ngFor="let type of pokemon.type" [type]="type"></app-type-badge>
        </div>
    </div>
</div>
