<div *ngIf="pokemonData" class="pokemon-title">
    <span>{{ pokemonData.name | titlecase }}&nbsp;</span>
    <span class="pokemon-number">{{ pokemonData.id | stringId }}</span>
</div>

<div class="flex flex-col gap-1 w-full">
    <span
        *ngFor="let variety of pokemonSpeciesData?.varieties"
        class="p-1 rounded-lg bg-indigo-400"
        (click)="changeVariety(variety)"
    >
        {{ variety.pokemon.name }}
    </span>
</div>

<img *ngIf="pokemonData" [src]="pokemonData.sprites.other['official-artwork'].front_default" />

<div class="evolution-wrapper" style="width: 720px; padding: 0 24px">
    <h2 class="evolution-title">Evolutions</h2>
    <div class="flex justify-between">
        <div *ngFor="let pokeStage of evolutionChain; let last = last" class="flex items-center">
            <app-evolution-stage [pokemon]="pokeStage"></app-evolution-stage>
            <div *ngIf="!last" class="arrow-right"></div>
        </div>
    </div>
</div>
